@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

[data-theme="dark"] {
  --background: #0a0a0a;
  --foreground: #ededed;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

main {
  padding: 1rem;
}

form {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 3px;
}

input[type="file"] {
  display: block;
}

input[type="text"] {
  color: black;
  border-radius: 10px;
  border-width: 0 0 1px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  height: 1.8rem;
  padding-block: 0.5rem;
  width: 100%;
}

.cards {
  column-gap: 0.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  list-style-type: none;
  padding: 0;
  row-gap: 1rem;
}

.card {
  position: relative;
  height: 300px;
}

.card-front {
  --card-back-background-color: rgb(131, 178, 255);
  color: rgba(220, 220, 220, 0.8);
  min-height: 300px;
  background-color: var(--card-back-background-color);
  line-height: 1.8rem;
  padding: 1rem;
  border-radius: 20px;
  border: white solid 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  backface-visibility: hidden;
  transform: rotateY(180deg);
  overflow: hidden;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  transition: outline-offset 0.5s;
  position: relative;
}

[data-theme="dark"] .card-front {
  background-color: rgb(88, 148, 252);
}

/* Animation classes */
.card-front.animate-enter {
  animation-name: expand-rotate-back;
}

.card-front.animate-exit {
  animation-name: shrink-rotate;
}

@keyframes shrink-rotate {
  0% {
    height: 650px;
    transform: rotateY(0);
  }
  50% {
    height: 300px;
    transform: rotateY(0);
  }
  100% {
    height: 300px;
    transform: rotateY(180deg);
  }
}

@keyframes expand-rotate-back {
  0% {
    height: 300px;
    transform: rotateY(180deg);
  }
  50% {
    height: 300px;
    transform: rotateY(0);
  }
  100% {
    height: 650px;
    transform: rotateY(0);
  }
}

.card-back {
  --card-back-background-color: rgba(0, 98, 255, 0.5);
  background-color: var(--card-back-background-color);
  border: white solid 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  line-height: 1.8rem;
  padding: 1rem;
  border-radius: 20px;
  backface-visibility: hidden;
  transform: rotateY(0);
  transition: transform 0.5s, outline-offset 0.5s;
  height: 100%;
  width: 100%;
}

[data-theme="dark"] .card-back {
  outline: rgba(0, 0, 58, 0.45) solid 2px;
}

.card-front.isShown,
.card-back.isShown {
  outline: black solid 3px;
  outline-offset: 10px;
  border-radius: 25px;
}

[data-theme="dark"] .card-front.isShown,
[data-theme="dark"] .card-back.isShown {
  outline: rgb(0, 10, 60) solid 3px;
}

button {
  background-color: #007bff;
  border: none;
  border-radius: 0.25rem;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0075f1;
}

button:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

[data-theme="dark"] button:active {
  background-color: rgb(0, 30, 160);
  box-shadow: 4px 4px 5px #444fff;
}

nav button {
  max-height: 2rem;
}

span {
  white-space: pre;
}

.modal-overlay {
  background: var(--background);
  left: 0;
  min-height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
}

.bulk-edit {
  color: black;
  min-height: 100%;
}

li {
  line-height: 1.8rem;
  padding: 1rem;
  border-radius: 20px;
}

.card {
  outline: none;
}
.card:focus-within > div {
  outline: rgb(0, 10, 60) solid 3px;
  outline-offset: 10px;
  border-radius: 20px;
}

[data-theme="dark"] {
  .card:focus-within > div {
    outline: white solid 4px;
  }
}
